<h1>About</h1>
<p>
	OTR was created by <a href="http://slackerlord.magntize.com">Joe Clay</a> 
	as a way for him to learn Ruby on Rails.<br />
	He very much likes talking in the third person.<br />
	<br />
	This site is, very handily, open source. Visit us at <a href="http://github.com/slackerlord/On-The-Rise">our GitHub 
	page</a> if you want to have a tweak around.<br />
	<br />
	Also, the site contains use of the <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icon Set<a>,
	which is licenced under the <a href="http://creativecommons.org/licenses/by/2.5/">
	Creative Commons Attribution 2.5 License</a>. Awesome.
</p>
